@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto Mono', monospace;
}
/* 
main {
  background: url(public/assets//images/Cover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
